@import "tailwindcss";

@theme {
  --color-background: #0f172a; /* slate-900 */
  --color-foreground: #f8fafc; /* slate-50 */
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
